@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/Proxima_Nova_Condensed_Regular.woff") format("woff"), url("../fonts/Proxima_Nova_Condensed_Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/Proxima_Nova_Condensed_Thin.woff") format("woff"), url("../fonts/Proxima_Nova_Condensed_Thin.otf") format("opentype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima_Nova_Light.woff") format("woff"), url("../fonts/Proxima_Nova_Light.otf") format("opentype");
  font-style: normal;
  font-weight: lighter;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.container {
  padding-right: 6px;
  padding-left: 6px;
  margin-right: auto;
  margin-left: auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.range {
  margin-left: -6px;
  margin-right: -6px;
}
.range:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
@media (min-width: 960px) {
  body {
    overflow-x: hidden;
  }
}
input,
button,
select,
textarea {
  outline: none;
}
* {
  outline: 1px solid red;
}
@media screen and (min-width: 1300px) {
  .left-on-wide-screen {
    padding-right: 15vw;
  }
}
@media screen and (min-width: 960px) {
  .col-1 {
    width: 6.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-1 {
    margin-left: 6.25%;
  }
  .col-2 {
    width: 12.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-2 {
    margin-left: 12.5%;
  }
  .col-3 {
    width: 18.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-3 {
    margin-left: 18.75%;
  }
  .col-4 {
    width: 25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-4 {
    margin-left: 25%;
  }
  .col-5 {
    width: 31.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-5 {
    margin-left: 31.25%;
  }
  .col-6 {
    width: 37.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-6 {
    margin-left: 37.5%;
  }
  .col-7 {
    width: 43.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-7 {
    margin-left: 43.75%;
  }
  .col-8 {
    width: 50%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-8 {
    margin-left: 50%;
  }
  .col-9 {
    width: 56.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-9 {
    margin-left: 56.25%;
  }
  .col-10 {
    width: 62.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-10 {
    margin-left: 62.5%;
  }
  .col-11 {
    width: 68.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-11 {
    margin-left: 68.75%;
  }
  .col-12 {
    width: 75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-12 {
    margin-left: 75%;
  }
  .col-13 {
    width: 81.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-13 {
    margin-left: 81.25%;
  }
  .col-14 {
    width: 87.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-14 {
    margin-left: 87.5%;
  }
  .col-15 {
    width: 93.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-15 {
    margin-left: 93.75%;
  }
  .col-16 {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-16 {
    margin-left: 100%;
  }
  .container {
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-header {
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #e0e0e0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .page-header .container {
    position: relative;
    width: 100%;
  }
  .page-header .range {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .page-header--scroll {
    background-color: rgba(255, 233, 0, 0.95);
    border-bottom: none;
  }
  .page-header--scroll .range {
    opacity: 0;
    height: 65px;
    position: relative;
    z-index: -100;
    overflow: hidden;
  }
  .page-header--scroll .decision-header {
    opacity: 1;
    z-index: 101;
  }
  .fast-phone {
    width: 31.25%;
    padding: 0 6px;
    float: left;
    float: right;
    margin-bottom: 0;
    text-align: right;
  }
  .fast-phone__slogan {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
    color: #444444;
  }
  .fast-phone__link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 3.5px;
    margin-top: -10px;
    color: #0044cc;
  }
  .advantages {
    width: 68.75%;
    padding: 0 6px;
    float: left;
    margin-top: 28px;
    margin-bottom: 8px;
    padding-right: 0;
  }
  .advantages__item {
    display: inline-block;
    list-style: none;
    position: relative;
    min-width: 278px;
    padding-left: 77px;
    margin-bottom: 0;
    margin-right: 10px;
    color: #444444;
  }
  .advantages__item:last-child {
    padding-left: 105px;
    margin-right: 0;
  }
  .advantages__item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .advantages__item--finger:before {
    background-image: url(../img/sprite.png);
    background-position: -84px -262px;
    width: 54px;
    height: 64px;
  }
  .advantages__item--flycar:before {
    background-image: url(../img/sprite.png);
    background-position: -84px -153px;
    width: 77px;
    height: 60px;
  }
  .advantages__head {
    position: relative;
    top: 5px;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .advantages__description {
    display: block;
    position: relative;
    top: 2px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .decision-header {
    z-index: -100;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    color: #444444;
    padding: 10px 20px;
  }
  .decision-header__block {
    width: 68.75%;
    padding: 0 6px;
    float: left;
  }
  .decision-header__contacts {
    width: 31.25%;
    padding: 0 6px;
    float: left;
  }
  .decision-header__text,
  .decision-header__phone,
  .decision-header__social {
    font-weight: bold;
    display: inline-block;
  }
  .decision-header__phone,
  .decision-header__sociallink {
    color: #0044cc;
  }
  .decision-header__text {
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .decision-header__text--small {
    font-size: 15px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
  }
  .decision-header__phone {
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  .decision-header__social {
    color: #0044cc;
  }
  .decision-header__social:before {
    font-weight: bold;
    content: '(';
    display: inline-block;
  }
  .decision-header__social:after {
    font-weight: bold;
    content: ')';
    display: inline-block;
  }
  .decision-header__sociallink {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .decision-header__sociallink:after {
    content: "\005C";
  }
  .promo {
    background-image: url(../img/promo_background.jpg);
    background-size: auto 100%;
    background-position: center;
    padding-top: 137px;
  }
  .promo__head {
    font-size: 65px;
    line-height: 71px;
    font-weight: lighter;
    color: #fff;
    margin-top: 0;
    margin-bottom: 74px;
  }
  .promo__accent {
    font-weight: lighter;
  }
  .sloganbox {
    background-color: #ffe600;
    text-align: center;
    padding: 16px 0 19px 0;
  }
  .sloganbox__text {
    font-weight: lighter;
    font-size: 31px;
    line-height: 57px;
    letter-spacing: 13px;
    color: #444444;
  }
  .warranty {
    background-color: #fff;
  }
  .warranty__text {
    display: block;
    color: #795548;
    font-size: 30px;
    letter-spacing: 8px;
    padding: 17px 0;
  }
  .decision {
    display: none;
    color: #ffe600;
  }
  .decision__text,
  .decision__phone {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 48px;
    text-transform: uppercase;
  }
  .decision__text {
    margin-bottom: 0;
  }
  .decision__text--small {
    font-size: 36px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
  }
  .decision__phone {
    text-decoration: none;
    color: #ffe600;
  }
  .decision__social {
    font-size: 36px;
    color: #ffe600;
  }
  .decision__social:before {
    font-weight: bold;
    content: '(';
    display: inline-block;
  }
  .decision__social:after {
    font-weight: bold;
    content: ')';
    display: inline-block;
  }
  .decision__sociallink {
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    color: #ffe600;
  }
  .decision__sociallink:after {
    content: "\005C";
  }
  .steps {
    padding-left: 0;
    margin-left: -6px;
    margin-right: -6px;
  }
  .steps:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .steps__item {
    width: 25%;
    padding: 0 6px;
    float: left;
    list-style: none;
    margin-bottom: 22px;
  }
  .steps__item:last-child .steps__number:after {
    position: static;
    display: none;
  }
  .steps__item:not(:first-child) {
    margin-left: 6.25%;
  }
  .steps__hashtag {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 9px;
    color: #2979ff;
  }
  .steps__number {
    display: block;
    margin-top: 6px;
    padding-left: 0;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    position: relative;
  }
  .steps__number:after {
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -200px 0px;
    width: 117px;
    height: 22px;
    top: 20px;
    left: 151px;
  }
  .steps__text {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    margin-top: 11px;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #444;
  }
  .order__header {
    border: 1px solid #e0e0e0;
    padding: 13px 0;
    margin-bottom: 50px;
  }
  .order__head {
    margin: 0;
    font-size: 34px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 4px;
    color: #bbbbbb;
  }
  .order__new .order__header {
    display: none;
  }
  .order__type-stamp {
    letter-spacing: 3.5px;
    font-weight: bolder;
  }
  .order__finished {
    letter-spacing: 3.5px;
    font-weight: bolder;
  }
  .type-stamp {
    margin-left: -6px;
    margin-right: -6px;
  }
  .type-stamp:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .type-stamp__item {
    width: 25%;
    padding: 0 6px;
    float: left;
  }
  .type-stamp .order__tabs {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 23px 0;
    color: #777777;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .type-stamp .order__tabs:hover {
    background-color: #ffffff;
  }
  .type-stamp .order__radio:checked + .order__tabs {
    border: 1px solid #ffe600;
    background-color: #fff;
  }
  .type-stamp #copy_stamp:checked + .order__tabs,
  .type-stamp #facsimile:checked + .order__tabs {
    position: relative;
  }
  .type-stamp #copy_stamp:checked + .order__tabs:after,
  .type-stamp #facsimile:checked + .order__tabs:after {
    background-image: url(../img/sprite.png);
    background-position: -289px -22px;
    width: 19px;
    height: 22px;
    content: '';
    position: absolute;
    left: 30px;
    bottom: -15px;
  }
  .download-file {
    width: 100%;
    padding: 0 6px;
    float: left;
    text-align: center;
    color: #444444;
    margin-top: 10px;
  }
  .download-file__label {
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    border: 2px solid #fae264;
    background-color: #ffffcc;
    display: block;
    padding: 60px 0 50px 0;
    width: 100%;
    cursor: pointer;
  }
  .download-file__hint {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    line-height: 32px;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
  }
  .download-file input {
    display: none;
  }
  .company-type {
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 10px;
  }
  .company-type:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .company-type__item {
    width: 12.5%;
    padding: 0 6px;
    float: left;
  }
  .company-type__tabs {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #777777;
    background-color: #f8f8ff;
    border: 1px solid #f8f8ff;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .company-type__tabs:hover {
    background-color: #ffffff;
  }
  .company-type .order__radio:checked + .company-type__tabs {
    border: 1px solid #ffe600;
    background-color: #fff;
  }
  .company-type .order__radio,
  .type-stamp .order__radio {
    display: none;
  }
  .company-type label,
  .type-stamp label {
    cursor: pointer;
  }
  .client-info {
    position: relative;
    padding-top: 28px;
    padding-bottom: 38px;
  }
  .client-info__name,
  .client-info__company {
    margin: 12px 0;
    position: relative;
    height: 40px;
  }
  .client-info__input {
    position: absolute;
    border: 2px solid #dddddd;
    font-size: 13px;
    letter-spacing: 3.5px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding: 8px 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .client-info__input:focus {
    border-color: #ffe600;
    text-transform: none;
  }
  .client-info__input--filled {
    border-color: #ffe600;
  }
  .client-info__input--error {
    border-color: #ff4749;
  }
  .client-info__input:first-child {
    left: 0;
  }
  .client-info__input:nth-child(2) {
    left: 33.33%;
  }
  .client-info__input:nth-child(3) {
    width: 33.33%;
    right: 0;
  }
  .client-info .upload-logo {
    width: 25%;
    padding: 0 6px;
    float: left;
    float: none;
    cursor: pointer;
    display: block;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    padding: 7px 10px;
    margin-top: 40px;
    text-align: center;
    line-height: 25px;
  }
  .client-info .upload-logo input {
    display: none;
  }
  .order__rigging .order__tabs {
    display: inline-block;
    padding-right: 30px;
    margin-right: 25px;
    background: -webkit-linear-gradient(0deg, #e1e4f7 0%, #e1e4f7 50%, #f6f5f3 50%);
    background: linear-gradient(90deg, #e1e4f7 0%, #e1e4f7 50%, #f6f5f3 50%);
    border: 1px solid #eee;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 28px;
    cursor: pointer;
  }
  .order__rigging .order__tabs span {
    position: relative;
    top: -1px;
    left: 0;
    font-size: 13px;
    letter-spacing: 3.5px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    padding: 0 20px;
    display: inline-block;
    color: #cccccc;
    background-color: #fff;
    -webkit-transition: all 0.18s ease;
    transition: all 0.18s ease;
  }
  .order__rigging .order__radio:checked + .order__tabs span {
    left: 30px;
    color: #777777;
    background-color: #fff;
  }
  .order__rigging .order__radio:disabled + .order__tabs {
    border: 1px solid #fff;
    background-color: #f9f9f3;
  }
  .order__rigging .order__radio:disabled + .order__tabs span {
    background-color: #f9f9f3;
    border: 1px solid #fff;
  }
  .order__rigging .order__radio {
    display: none;
  }
  .rigging-type,
  .rigging-using {
    margin: 33px 0;
  }
  .rigging-using {
    margin-bottom: 16px;
  }
  .stamp-gallery .owl-stage-outer {
    padding-top: 115px;
  }
  .stamp-gallery__item {
    position: relative;
  }
  .stamp-gallery__price {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffcc00;
    text-transform: uppercase;
    opacity: 0;
  }
  .stamp-gallery__name {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    background-color: #ffcc00;
    z-index: 1;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #444444;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .stamp-gallery .owl-item {
    background-color: #f6f5f3;
  }
  .stamp-gallery .owl-item.center .stamp-gallery__name {
    opacity: 1;
  }
  .stamp-gallery .owl-item.center .stamp-gallery__price {
    opacity: 1;
  }
  .stamp-gallery .owl-prev,
  .stamp-gallery .owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffe600;
    text-align: center;
    top: 45px;
  }
  .stamp-gallery .owl-prev {
    left: 30%;
  }
  .stamp-gallery .owl-next {
    right: 30%;
  }
  .stamp-gallery .owl-prev:after,
  .stamp-gallery .owl-next:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 15px;
    height: 15px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  .stamp-gallery .owl-prev:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 13px;
  }
  .stamp-gallery .owl-next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 13px;
  }
  .stamp-gallery__item {
    padding: 0 23px 45px 23px;
  }
  .order__more .container--wide {
    width: 960px;
  }
  .order__more .order__header {
    border: none;
    text-align: center;
    margin-bottom: 5px;
  }
  .order__more .order__head {
    color: #ff4749;
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  .add-order {
    text-align: center;
    padding-bottom: 45px;
    margin-left: -6px;
    margin-right: -6px;
  }
  .add-order:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .add-order__item {
    width: 31.25%;
    padding: 0 6px;
    float: left;
  }
  .add-order__tabs {
    background-color: #ffff66;
    position: relative;
    border-bottom: 1px solid #ff4749;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #444444;
    width: 100%;
    display: block;
    padding: 10px;
    -webkit-box-shadow: inset 0 0 0 0 #ff4749;
    box-shadow: inset 0 0 0 0 #ff4749;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .add-order__tabs:hover {
    -webkit-box-shadow: inset 0 -4px 0 0 #ff4749;
    box-shadow: inset 0 -4px 0 0 #ff4749;
  }
  .add-order__tabs:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 8px;
    left: auto;
    width: 90%;
    max-width: 300px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .add-order__tabs:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -2px;
    right: -3px;
    left: auto;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    width: 90%;
    height: 86%;
    background: -webkit-linear-gradient(340deg, rgba(0, 0, 0, 0.18) 55%, rgba(0, 0, 0, 0.02));
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.18) 55%, rgba(0, 0, 0, 0.02));
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  }
  .add-order__tabs:last-child {
    margin-right: 0;
  }
  .add-order__tabs span {
    display: block;
    line-height: 1.4;
  }
  .add-order__tabs strong {
    display: block;
    color: #ff4749;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    bottom: 5px;
    letter-spacing: 4px;
    left: 0;
    right: 0;
    margin-top: 6px;
  }
  .add-order__input {
    display: none;
  }
  .add-order__input:checked + .add-order__tabs {
    -webkit-box-shadow: inset 0 -4px 0 0 #ff4749, inset 0 0 0 1px #ff4749;
    box-shadow: inset 0 -4px 0 0 #ff4749, inset 0 0 0 1px #ff4749;
  }
  .add-stamp {
    width: 37.5%;
    padding: 0 6px;
    float: left;
    margin-left: 31.25%;
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    line-height: 38px;
    padding: 25px;
    padding-left: 80px;
    border: 1px solid #0044cc;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    color: #0044cc;
    position: relative;
    -webkit-box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 0 #0044cc;
    box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 0 #0044cc;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .add-stamp:before,
  .add-stamp:after {
    position: absolute;
    content: '';
    width: 47px;
    height: 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .add-stamp:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .add-stamp:hover {
    -webkit-box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 1px #0044cc;
    box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 1px #0044cc;
  }
  .add-stamp:hover:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .add-stamp:hover:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .guarantee {
    background-color: #ffffcc;
    padding: 38px 0 31px;
  }
  .guarantee__text {
    max-width: 80%;
    font-size: 16px;
    color: #ff4749;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .order__contacts .order__header {
    background-color: #fff;
  }
  .order__finished {
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
    padding-top: 90px;
  }
  .order__finished:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .contacts {
    position: absolute;
    top: 0;
    left: 0;
    width: 62.5%;
    padding: 0 6px;
    float: left;
  }
  .contacts:after {
    clear: both;
    content: '';
    display: block;
  }
  .contacts-info {
    width: 100%;
    position: relative;
    height: 36px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 68, 204, 0.14);
    box-shadow: 0 5px 10px 0 rgba(0, 68, 204, 0.14);
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  .contacts-info__name,
  .contacts-info__company {
    margin: 12px 0;
    position: relative;
    height: 40px;
  }
  .contacts-info__input {
    position: absolute;
    border: 2px solid #dddddd;
    font-size: 14px;
    letter-spacing: 2.5px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: normal;
    color: #2979ff;
    text-transform: uppercase;
    padding: 8px 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .contacts-info__input:focus {
    border-color: #ffe600;
    text-transform: none;
  }
  .contacts-info__input.filled {
    border-color: #ffe600;
  }
  .contacts-info__input:first-child {
    left: 0;
    z-index: 5;
    width: 50%;
  }
  .contacts-info__input:nth-child(2) {
    left: 45%;
    padding-left: 55px;
    width: 55%;
  }
  .confirmation {
    width: 687px;
    z-index: 20;
    clear: both;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 11px 0 rgba(0, 68, 204, 0.5);
    box-shadow: 0 2px 11px 0 rgba(0, 68, 204, 0.5);
  }
  .confirmation--fixed {
    position: fixed;
    bottom: 10px;
  }
  .confirmation--absolute {
    position: absolute;
  }
  .confirmation:after {
    clear: both;
    content: '';
    display: block;
  }
  .confirmation__info {
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-weight: lighter;
    width: 100%;
    color: #ffffff;
    background-color: #444444;
    padding-bottom: 2px;
    padding-left: 60px;
    font-size: 18px;
    letter-spacing: 1.4px;
  }
  .confirmation__delivery {
    width: 66.666666%;
    float: left;
  }
  .confirmation__text {
    position: relative;
    display: block;
    background-color: #ffffcc;
    padding: 4px 0;
    padding-left: 60px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .confirmation__text:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .confirmation__input {
    display: none;
  }
  .confirmation__input:checked + .confirmation__text {
    background-color: #ffe900;
  }
  .confirmation__input:checked + .confirmation__text:before {
    border: 1px solid #444444;
    background-color: #444444;
  }
  .confirmation__price {
    width: 33.333333%;
    float: right;
    background-color: #fff;
  }
  .confirmation__price p {
    font-size: 32px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .confirmation__summ {
    color: #ff4749;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .form-send {
    position: absolute;
    right: 70px;
    width: 18.75%;
    padding: 0 6px;
    float: left;
    z-index: 110;
  }
  .form-send:after {
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -84px -213px;
    width: 92px;
    height: 49px;
    top: 0;
    left: -50px;
    z-index: 1;
  }
  .btn-send {
    position: relative;
    border: none;
    background-color: #ffe900;
    color: #0044cc;
    width: 100%;
    text-align: center;
    font-size: 24px;
    text-transform: lowercase;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 7px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
    border-bottom: 5px solid #ffcc00;
  }
  .container--bottomfix {
    height: 328px;
    position: relative;
  }
  .feedback {
    margin-left: -6px;
    margin-right: -6px;
    position: absolute;
    width: 100%;
    bottom: 55px;
    left: 20px;
  }
  .feedback:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .feedback-message {
    width: 87.5%;
    padding: 0 6px;
    float: left;
    margin-left: 6.25%;
  }
  .feedback-message__text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: 3.2px;
    margin: 0;
  }
  .feedback-message__text--blue {
    color: #0044cc;
  }
  .feedback-message__text--small {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
  }
  .owl-nav.disabled {
    display: block !important;
  }
  .order__step .sloganbox {
    display: none;
  }
  .order__step .warranty {
    display: none;
  }
  .next {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .col-1 {
    width: 8.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-3 {
    width: 25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-4 {
    width: 33.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-6 {
    width: 50%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-7 {
    width: 58.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-9 {
    width: 75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-10 {
    width: 83.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-12 {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .container {
    padding-left: 7px;
    padding-right: 7px;
    max-width: 480px;
    min-width: 320px;
  }
  .page-header {
    padding-top: 20px;
  }
  .page-header .container {
    padding: 0 40px 0 57px;
  }
  .fast-phone {
    width: 100%;
    padding: 0 6px;
    float: left;
    margin-bottom: 25px;
  }
  .fast-phone__slogan {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
  }
  .fast-phone__link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 3px;
    color: #ffe600;
  }
  .advantages {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .advantages__item {
    list-style: none;
    position: relative;
    padding-left: 70px;
    margin-bottom: 25px;
    color: #444444;
  }
  .advantages__item:last-child {
    margin-bottom: 10px;
  }
  .advantages__item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .advantages__item--finger:before {
    background-image: url(../img/sprite.png);
    background-position: -200px -60px;
    width: 34px;
    height: 40px;
    top: -10px;
  }
  .advantages__item--flycar:before {
    background-image: url(../img/sprite.png);
    background-position: -200px -22px;
    width: 49px;
    height: 38px;
  }
  .advantages__head {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .advantages__description {
    display: block;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .decision-header {
    display: none;
  }
  .promo .container {
    padding: 0 57px;
  }
  .promo__head {
    font-size: 32px;
    font-weight: lighter;
    color: #444444;
    margin-bottom: 35px;
    line-height: 40px;
  }
  .promo__accent {
    font-weight: lighter;
    color: #0044cc;
  }
  .promo .sloganbox {
    display: none;
  }
  .promo .warranty {
    display: none;
  }
  .steps {
    padding-left: 0;
  }
  .steps__item {
    list-style: none;
    margin-bottom: 22px;
  }
  .steps__hashtag {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 5px;
    color: #2979ff;
  }
  .steps__number {
    display: none;
  }
  .steps__text {
    margin-top: 8px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .decision {
    position: relative;
    color: #ffe600;
  }
  .decision:before,
  .decision:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .decision:before {
    background-image: url(../img/sprite.png);
    background-position: -179px -164px;
    width: 21px;
    height: 163px;
    left: -55px;
  }
  .decision:after {
    background-image: url(../img/sprite.png);
    background-position: -179px 0px;
    width: 21px;
    height: 164px;
    right: -55px;
  }
  .decision__text,
  .decision__phone {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 24px;
    text-transform: uppercase;
  }
  .decision__text {
    margin-bottom: 0;
  }
  .decision__text--small {
    font-size: 18px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .decision__phone {
    text-decoration: none;
    color: #ffe600;
  }
  .decision__social {
    font-size: 18px;
    color: #ffe600;
  }
  .decision__social:before {
    font-weight: bold;
    content: '(';
    display: inline-block;
  }
  .decision__social:after {
    font-weight: bold;
    content: ')';
    display: inline-block;
  }
  .decision__sociallink {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ffe600;
  }
  .decision__sociallink:after {
    content: "\005C";
  }
  .order__step {
    margin-top: 20px;
  }
  .order__header {
    margin-bottom: 20px;
  }
  .order__head {
    padding: 6px 0;
    border: 1px solid #e0e0e0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #bbbbbb;
  }
  .order__contacts .order__header {
    display: none;
  }
  .type-stamp {
    margin-left: -6px;
    margin-right: -6px;
    text-align: center;
  }
  .type-stamp:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .type-stamp__item {
    width: 33.33333333%;
    padding: 0 6px;
    float: left;
  }
  .type-stamp .order__tabs {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    text-transform: uppercase;
    color: #777777;
    letter-spacing: 2px;
    border: 1px solid #eee;
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    padding: 23px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .type-stamp .order__radio:checked + .order__tabs {
    border: 1px solid #ffe600;
    background-color: #fff;
  }
  .type-stamp #copy_stamp:checked + .order__tabs,
  .type-stamp #facsimile:checked + .order__tabs {
    position: relative;
  }
  .type-stamp #copy_stamp:checked + .order__tabs:after,
  .type-stamp #facsimile:checked + .order__tabs:after {
    background-image: url(../img/sprite.png);
    background-position: -289px -22px;
    width: 19px;
    height: 22px;
    content: '';
    position: absolute;
    left: 30px;
    bottom: -15px;
  }
  .download-file {
    width: 100%;
    padding: 0 6px;
    float: left;
    text-align: center;
    color: #444444;
    margin-top: 10px;
  }
  .download-file__label {
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 2px solid #fae264;
    background-color: #ffffcc;
    display: block;
    padding: 25px 0 25px 0;
    width: 100%;
    cursor: pointer;
  }
  .download-file__hint {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
  }
  .download-file input {
    display: none;
  }
  .company-type {
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 10px;
    text-align: center;
  }
  .company-type:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .company-type__item {
    width: 33.33333333%;
    padding: 0 6px;
    float: left;
  }
  .company-type__tabs {
    font-size: 10px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    border: 1px solid #eee;
    width: 32%;
    color: #777777;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .company-type .order__radio:checked + .company-type__tabs {
    border: 1px solid #ffe600;
    background-color: #fff;
  }
  .company-type .order__radio,
  .type-stamp .order__radio {
    display: none;
  }
  .company-type label,
  .type-stamp label {
    cursor: pointer;
  }
  .client-info {
    position: relative;
    padding-top: 40px;
    padding-bottom: 38px;
  }
  .client-info__name,
  .client-info__company {
    margin: 12px 0;
    position: relative;
    height: 40px;
  }
  .client-info__input {
    position: absolute;
    border: 1px solid #dddddd;
    font-size: 10px;
    letter-spacing: 3px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    width: 40%;
    color: #777777;
    padding: 12px 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .client-info__input:focus {
    border-color: #ffe600;
  }
  .client-info__input.filled {
    border-color: #ffe600;
  }
  .client-info__input:first-child {
    left: 0;
  }
  .client-info__input:nth-child(2) {
    left: 33.33%;
  }
  .client-info__input:nth-child(3) {
    width: 33.33%;
    right: 0;
  }
  .client-info .upload-logo {
    display: none;
  }
  .order__rigging .order__tabs {
    display: inline-block;
    margin-right: 5px;
    background: -webkit-linear-gradient(270deg, #e1e4f7 0%, #e1e4f7 50%, #f6f5f3 50%);
    background: linear-gradient(180deg, #e1e4f7 0%, #e1e4f7 50%, #f6f5f3 50%);
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 32px;
    cursor: pointer;
  }
  .order__rigging .order__tabs span {
    position: relative;
    top: -2px;
    left: 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 5px;
    display: inline-block;
    color: #bbbbbb;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .order__rigging .order__radio:checked + .order__tabs span {
    top: 8px;
    color: #777777;
    background-color: #fff;
  }
  .order__rigging .order__radio:disabled + .order__tabs span {
    background-color: #f5f5f5;
  }
  .order__rigging .order__radio {
    display: none;
  }
  .rigging-type,
  .rigging-using {
    margin: 15px 0;
  }
  .stamp-gallery {
    margin-bottom: 20px;
  }
  .stamp-gallery__item {
    padding: 0 33.33%;
    position: relative;
    background-color: #ffffcc;
  }
  .stamp-gallery__price {
    position: absolute;
    color: #ffcc00;
    z-index: 1;
    width: 33.33%;
    letter-spacing: 2px;
    text-align: center;
    left: 0;
    top: 25px;
  }
  .stamp-gallery__name {
    font-size: 10px;
    text-transform: uppercase;
    color: #777777;
    position: absolute;
    z-index: 1;
    width: 33.33%;
    padding: 0 10px;
    letter-spacing: 2px;
    text-align: center;
    right: 0;
    top: 0;
  }
  .stamp-gallery .owl-prev,
  .stamp-gallery .owl-next {
    position: absolute;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffe600;
    text-align: center;
    bottom: 10px;
  }
  .stamp-gallery .owl-prev {
    left: 10px;
  }
  .stamp-gallery .owl-next {
    right: 10px;
  }
  .stamp-gallery .owl-prev:after,
  .stamp-gallery .owl-next:after {
    content: '';
    display: inline-block;
    margin: 13px 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  .stamp-gallery .owl-prev:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 5px;
  }
  .stamp-gallery .owl-next:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-right: 5px;
  }
  .order__more .order__header {
    border: none;
    text-align: center;
    margin-bottom: 5px;
  }
  .add-order {
    text-align: center;
    margin-left: -6px;
    margin-right: -6px;
  }
  .add-order:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .add-order__item {
    width: 100%;
    padding: 0 6px;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
  .add-order__tabs {
    position: relative;
    background-color: #ffffcc;
    display: block;
    border-bottom: 1px solid #ff9d02;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #444444;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 0 0 0 #ff4749;
    box-shadow: inset 0 0 0 0 #ff4749;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .add-order__tabs strong {
    display: none;
  }
  .add-order__input {
    display: none;
  }
  .add-order__input:checked + .add-order__tabs {
    background-color: #ffff66;
    -webkit-box-shadow: inset 0 0 0 1px #ff4749;
    box-shadow: inset 0 0 0 1px #ff4749;
  }
  .add-stamp {
    width: 100%;
    padding: 0 6px;
    float: left;
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    padding: 25px;
    padding-left: 80px;
    border: 1px solid #0044cc;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0044cc;
    position: relative;
    -webkit-box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 0 #0044cc;
    box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 0 #0044cc;
    margin-top: 90px;
    margin-bottom: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .add-stamp:before,
  .add-stamp:after {
    position: absolute;
    content: '';
    width: 47px;
    height: 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .add-stamp:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .add-stamp:hover {
    -webkit-box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 1px #0044cc;
    box-shadow: 0 2px 0 0 #789ce4, inset 0 0 0 1px #0044cc;
  }
  .add-stamp:hover:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .add-stamp:hover:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .guarantee {
    display: none;
  }
  .order__contacts .order__header {
    background-color: #fff;
  }
  .order__contacts .container--bottomfix {
    background-color: #ebf2fc;
  }
  .contacts {
    margin-left: -6px;
    margin-right: -6px;
  }
  .contacts:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .contacts-info {
    width: 100%;
    padding: 0 6px;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    margin-bottom: 20px;
  }
  .contacts-info__name,
  .contacts-info__company {
    margin: 12px 0;
    height: 40px;
  }
  .contacts-info__input {
    display: block;
    color: #0044cc;
    width: 100%;
    border: 1px solid #dddddd;
    font-size: 10px;
    letter-spacing: 2px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 14px;
    margin: 10px 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .contacts-info__input:focus {
    border-color: #ffe600;
  }
  .contacts-info__input.filled {
    border-color: #ffe600;
  }
  .confirmation {
    margin-left: -6px;
    margin-right: -6px;
  }
  .confirmation:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .confirmation__info {
    width: 100%;
    padding: 0 6px;
    float: left;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  .confirmation__stamp,
  .confirmation__rigging {
    display: block;
  }
  .confirmation__delivery {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .confirmation__text {
    position: relative;
    display: block;
    background-color: #dddddd;
    padding: 14px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .confirmation__input {
    display: none;
  }
  .confirmation__input:checked + .confirmation__text {
    background-color: #ffff66;
  }
  .confirmation__price {
    width: 100%;
    padding: 0 6px;
    float: left;
    background-color: #fff;
  }
  .confirmation__price p {
    font-size: 32px;
    text-align: center;
    margin: 15px 0;
    letter-spacing: 2px;
  }
  .confirmation__summ {
    color: #ff4749;
    font-weight: bold;
  }
  .form-send {
    width: 66.66666667%;
    padding: 0 6px;
    float: left;
    margin-left: 16.66666667%;
    position: relative;
  }
  .form-send:after {
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -249px -22px;
    width: 40px;
    height: 22px;
    top: 0;
    left: -25px;
    z-index: 1;
  }
  .btn-send {
    position: relative;
    border: none;
    background-color: #ffe900;
    color: #0044cc;
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
    margin-bottom: 25px;
  }
  .container--bottomfix {
    padding: 30px;
  }
  .feedback {
    margin-left: -6px;
    margin-right: -6px;
  }
  .feedback:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .feedback-message {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .feedback-message__text {
    font-size: 12px;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: 2px;
    margin: 5px 0;
    text-align: center;
  }
  .feedback-message__text--small {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    text-transform: lowercase;
  }
  .order__step .sloganbox {
    display: block;
  }
  .sloganbox {
    background-color: #ffe600;
    text-align: center;
    padding: 4px;
  }
  .sloganbox__text {
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 4px;
    color: #444444;
  }
  .order__step .warranty {
    display: block;
  }
  .warranty__text {
    display: block;
    color: #795548;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 17px 0;
    text-align: center;
  }
  .next {
    text-align: center;
  }
  .next__btn {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    width: 112px;
    line-height: 45px;
    height: 45px;
    text-decoration: none;
    background-color: #fae264;
    display: inline-block;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #444;
  }
}
.stamp-gallery__item {
  display: block;
}
.stamp-gallery__item input {
  position: absolute;
  visibility: hidden;
}
@media (min-width: 960px) {
  .stamp-gallery {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .stamp-gallery:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 115px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F6F5F3;
  }
  .stamp-gallery__name {
    padding: 0;
    background-color: transparent;
  }
  .stamp-gallery__item-name-part {
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 8px;
    color: #777;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
  .stamp-gallery .owl-item {
    background-color: transparent;
  }
  .stamp-gallery .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .stamp-gallery .owl-stage-outer {
    z-index: 1;
  }
  .stamp-gallery .owl-stage-outer:before {
    content: '';
    width: -webkit-calc(25vw + 46px);
    width: calc(25vw + 46px);
    position: absolute;
    z-index: 1;
    top: 115px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    background-color: #FFFFCC;
  }
  .stamp-gallery .owl-stage-outer:after {
    content: '';
    position: absolute;
    top: 15px;
    z-index: 1;
    height: 100px;
    width: -webkit-calc(25vw + 46px);
    width: calc(25vw + 46px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #FACB00;
  }
  .stamp-gallery .owl-stage-outer .owl-stage {
    z-index: 2;
  }
}
