*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  // font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  &.overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @media (min-width: @container-laptop) {
    overflow-x: hidden;
  }
}
input, button, select, textarea{
  outline: none;
}

.page-main.blur {
  filter: blur(15px);
}

// подсветка блоков
* {
  // outline: 1px solid red;
}

* {
  // font-weight: lighter !important; 
}

h1,
h2,
h3,
p,
input,
button,
span,
label {
  letter-spacing: 1.2px;
}
