@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("../fonts/Proxima_Nova_Condensed_Regular.woff") format("woff"),
    url("../fonts/Proxima_Nova_Condensed_Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("../fonts/Proxima_Nova_Condensed_Thin.woff") format("woff"),
    url("../fonts/Proxima_Nova_Condensed_Thin.otf") format("opentype");
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Proxima_Nova_Light.woff") format("woff"),
    url("../fonts/Proxima_Nova_Light.otf") format("opentype");
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNovaBold.woff') format('woff'),
    url('fonts/ProximaNovaBold.0tf') format('opentype');
    font-style: normal;
    font-weight: bolder;
}

