@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("../fonts/Proxima_Nova_Condensed_Regular.eot");
    src: url("../fonts/Proxima_Nova_Condensed_Regular.eot") format("embedded-opentype"),
         url("../fonts/Proxima_Nova_Condensed_Regular.svg#Proxima_Nova_Condensed_Regular") format("svg");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("../fonts/Proxima_Nova_Condensed_Thin.eot");
    src: url("../fonts/Proxima_Nova_Condensed_Thin.eot") format("embedded-opentype"),
         url("../fonts/Proxima_Nova_Condensed_Thin.woff2") format("woff2"),
         url("../fonts/Proxima_Nova_Condensed_Thin.woff") format("woff"),
         url("../fonts/Proxima_Nova_Condensed_Thin.ttf") format("truetype"),
         url("../fonts/Proxima_Nova_Condensed_Thin.svg#Proxima_Nova_Condensed_Thin") format("svg");
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold.otf") format("opentype");
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Proxima_Nova_Light.woff") format("woff"),
    url("../fonts/Proxima_Nova_Light.otf") format("opentype");
    font-style: normal;
    font-weight: lighter;
}
