.page-header{
  position: absolute;
  width: 100%;
  min-height: 123px;
  top: 0;
  left: 0;
  z-index: 100;

  &.blur {
    filter: blur(5px);
  }

  & .container{
    position: relative;
    width: 100%;
  }

  & .range {
    background-color: #fff;
    opacity: 1;
    transition: all 0.3s ease;
  }

}

.fast-phone{
  display: inline-block;
  vertical-align: top;
  padding-left: 17px;
  padding-top: 8px;
  width: 300px;

  &__link{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 3.8px;
    color: #0044cc;
  }

  &__slogan{
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    margin: 0;
    color: #777;
  }

  &__address {
    margin: 0;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #777;
  }
}

.header-logo{
  width: 400px;


  &__logo {
    float: left;
    position: relative;
    width: 150px;
    height: 123px;
    background: #fff;

    // дополнительная надпись
    &:after {
      content: "конфиденциально 100%";
      position: absolute;
      color: #f00;
      font-size: 14px;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      letter-spacing: 1.5px;
    }
  }

  &__slogan {
    float: left;
    width: 170px;
    padding-top: 30px;
    padding-bottom: 22px;
    padding-left: 20px;
    .proxima(ligthter);
    font-size: 18px;
    line-height: 135%;
    background-color: #222;
    color: #fff;
    height: 123px;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    width: 174px;
    font-family: "Proxima Nova", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ebebeb;
    letter-spacing: 1.3px;
  }

  &__action {
    text-transform: uppercase;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #fff650;
    letter-spacing: 4.6px;
    white-space: nowrap;
  }

  &:after {
    content: '';
    clear: both;;
  }

  &--gray {

    .header-logo__logo {
      width: 179px;
      height: 105px;
      background-color: #444;

      img {
        display: block;
        max-width: 100%;
      }

      &:after {
        display: none;
      }
    }
  }

  &--dark-gray {
    display: inline-block;
    vertical-align: top;
    padding: 25px 10px 5px 20px;
    width: 375px;
    background-color: #343c4a;

    .header-logo__logo {
      float: none;
      height: auto;
      width: 348px;
      background-color: #343c4a;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 170px;
        height: 31px;
      }

      &:after {
        display: none;
      }
    }
  }
}


// верхняя плашка
.decision-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  background-color: #28dcb4;
  padding: 10px 20px;
  .proxima-cond(lighter);
  font-size: 22px;
  line-height: 35px;
  color: #fff;
  letter-spacing: 2.7px;
  border-bottom: 2px solid #413834;
  box-shadow: 0 1px 22px 0 rgba(25,25,25,0.15);
  opacity: 0;
  // transform: scaleY(0);
  // transition: transform 0.8s ease;
  transition: opacity 0.8s ease;

  &__block {
    max-width: 915px;
    display: block;
    margin: 0 auto;
  }

  &__text, &__contacts, &__phone, &__social{
    display: inline;
  }

  &__text {
    display: block;
  }

  &__phone, &__social, &__sociallink{
    color: @c-blue;
    text-decoration: none;
    position: relative;
  }

  &__sociallink:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;
    background-color: @c-blue;
  }

  &__sociallink:hover:after {
    display: none;
  }

}

.decision-header--scroll{
  // top: 0;
  opacity: 1;
}

.decision-header--stop {
  position: absolute;
  // +top
  transition: none;
}

.express-order {
  position: absolute;
  top: 8px;
  right: 20px;
  display: block;
  box-sizing: border-box;
  padding: 9px;
  width: 242px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Proxima Nova", Arial, sans-serif;
  color: #fff;
  background-color: #ff4749;
  box-shadow: 0 6px 0 #cd282f;
  border-radius: 0 0 3px 3px;

  span {
    display: block;
  }

  &__slogan {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1.8px;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    color: #434343;
    letter-spacing: 2.3px;
  }
}
