.page-header{
  padding-top: 5px;
  background-color: rgba(255, 255, 255, .85);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  & .container{
    width: 1300px;
  }
}
.fast-phone{
  .col-4;
  float: right;
  margin-bottom: 0;
  text-align: right;

  &__slogan{
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    letter-spacing: 3px;
    margin: 0;
    color: @c-grey;
  }
  &__link{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 6px;
    color: @c-yellow;
  }

}
.advantages{
  .col-8;
  margin-top: 24px;
  margin-bottom: 8px;
  &__item{
    display: inline-block;
    list-style: none;
    position: relative;
    padding-left: 80px;
    margin-bottom: 0;
    margin-right: 40px;
    color: @c-grey;

    &:last-child{
      padding-left: 120px;
      margin-right: 0;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
    }
    &--finger:before{
      .sprite(@icon-finger);
      top: -23px;
    }
    &--flycar:before{
      .sprite(@icon-flycar);
      top: -15px;
    }
  }
  &__head{
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 5px
  }
  &__description{
    display: block;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 5px;
  }
}