// font family
.proxima(@fw) {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: @fw;
}

.proxima-cond(@fw) {
  font-family: "Proxima Nova Condensed", Arial, sans-serif;
  font-weight: @fw;
}