.order{

  &__header{
    border: 1px solid @c-light-grey;
    padding: 13px 0;
    margin-bottom: 40px;
  }

  &__head{
    margin: 0;
    font-size: 34px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    color: @c-order-head;
  }
}

.type-stamp{

  & .order__tabs{
    font-size: 16px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: #eee;
    border: 2px solid #eee;
    width: 223px;
    display: inline-block;
    text-align: center;
    padding: 23px 0;
    margin-right: 5px;
    transition: all 0.3s ease;
  }

  & .order__radio:checked + .order__tabs{
    border: 2px solid @c-yellow;
    background-color: #fff;
  }
}

.company-type{
  margin-top: 15px;

  &__tabs{
    font-size: 16px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: #eee;
    border: 2px solid #eee;
    width: 108px;
    display: inline-block;
    text-align: center;
    padding: 13px 0;
    margin-right: 5px;
    transition: all 0.3s ease;
  }

  & .order__radio:checked + .company-type__tabs{
    border: 2px solid @c-yellow;
    background-color: #fff;
  }

}

.company-type, .type-stamp {

  & .order__radio {
    display: none;
  }

  & label {
    cursor: pointer;
  }

}

.client-info{
  position: relative;
  padding-top: 40px;
  padding-bottom: 38px;
  
  &__name, &__company{
    margin: 12px 0;
    position: relative;
    height: 40px;
  }

  &__input{
    position: absolute;
    border: 2px solid @c-form-border;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    width: 40%;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:focus{
      border-color: @c-yellow;
    }
    &.filled{
      border-color: @c-yellow;
    }

    &:first-child{
      left: 0;
    }
    &:nth-child(2){
      left: 33.33%;
    }
    &:nth-child(3){
      width: 33.33%;
      right: 0;
    }
  }

  .upload-logo{
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -170px;
    display: block;
    border: 1px solid @c-pink;
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 145px;
    padding: 20px 10px;
    text-align: center;
    line-height: 25px;

    & input{
      display: none;
    }
  }
}

.order__rigging{

  .order__tabs{
    display: inline-block;
    padding-right: 30px;
    margin-right: 25px;
    background: linear-gradient(90deg, #e1e4f7 0%, #e1e4f7 50%, #f6f5f3 50%);
    border: 1px solid #eee;
    border-radius: 15px;
    height: 28px;
    cursor: pointer;

    & span{
      position: relative;
      top: -1px;
      left: 0;
      font-size: 16px;
      letter-spacing: 3px;
      font-family: "Proxima Nova", Arial, sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
      border: 1px solid #e0e0e0;
      border-radius: 14px;
      padding: 3px 20px;
      display: inline-block;
      color: #bbbbbb;
      background-color: #fff;
      transition: all 0.3s ease;
    }
  }

  .order__radio:checked + .order__tabs span {
    left: 30px;
    color: #777777;
    background-color: #fff;
  }
  .order__radio:disabled + .order__tabs {
    border: 1px solid #fff;
  }
  .order__radio:disabled + .order__tabs span {
    background-color: #f5f5f5;
    border: 1px solid #fff;
  }

  .order__radio{
    display: none;
  }

}

.rigging-type, .rigging-using{
  margin: 15px 0;
}

.stamp-gallery{

  .owl-stage-outer{
    padding-top: 115px; 
  }

  &__item{
    position: relative;
  }
  &__price{
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffcc00;
    text-transform: uppercase;
    opacity: 0;
  }
  &__name{
    opacity: 0;
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    background-color: #ffcc00;
    z-index: 1;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #444444;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .owl-item{
    background-color: #f6f5f3;
  }

  .owl-item.center{
    background-color: #ffffcc;

    .stamp-gallery__name{
      opacity: 1;
    }
    .stamp-gallery__price{
      opacity: 1;
    }
  }

  .owl-prev, .owl-next{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid @c-yellow;
    text-align: center;
    top: 65px;
  }
  .owl-prev{
    left: 30%;
  }
  .owl-next{
    right: 30%;
  }
  .owl-prev:after, .owl-next:after{
    content: '';
    display: inline-block;
    margin: 13px 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  .owl-prev:after{
    transform: rotate(-45deg);
    margin-left: 5px;
  }
  .owl-next:after{
    transform: rotate(135deg);
    margin-right: 5px;
  }
}

.stamp-gallery__item {
  padding: 0 23px 45px 23px;
}

// .order__more - добавить к заказу
.order__more {
  & .container--wide{
    width: @container-laptop;
  }

  & .order{

    &__header {
      border: none;
      text-align: center;
      margin-bottom: 5px;
    }

    &__head {
      color: @c-pink;
      font-family: "Proxima Nova Condensed", Arial, sans-serif;
      font-weight: bold;
      letter-spacing: 3px;
    }
  }
}

.add-order {
  text-align: center;
  padding-bottom: 45px;

  &__tabs{
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 1px solid @c-pink;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: @c-grey;
    width: 310px;
    padding: 10px 34px 44px 34px;
    margin-right: 40px;
    vertical-align: middle;
    box-shadow: inset 0 0 0 0 @c-pink;
    transition: all 0.3s ease;

    &:after{
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      right: 8px;
      left: auto;
      width: 90%;
      max-width: 300px;
      box-shadow: 0 10px 7px 12px #c9c9c9;
      transform: rotate(3deg);
    }
    &:before{
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      right: 6px;
      left: auto;
      height: 78%;
      box-shadow: 0 13px 5px 11px #c9c9c9;
    }

    &:last-child{
      margin-right: 0;
    }

    & strong {
      position: absolute;
      display: block;
      color: @c-pink;
      font-family: "Proxima Nova", Arial, sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 28px;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__input{
    display: none;
  }

  &__input:checked + &__tabs {
    box-shadow: inset 0 0 0 4px @c-pink;
  }
}

.add-stamp{
  display: inline-block;
  padding: 25px;
  padding-left: 160px;
  background-color: #d8d8d8;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  // font-weight: bold;
  color: @c-blue;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    .sprite(@icon-plus);
  }
}

.guarantee {
  background-color: #ffffcc;
  border-top: 1px solid @c-form-border;
  padding: 15px 0;

  &__text{
    font-size: 16px;
    color: @c-pink;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}


.order__contacts{
  background-color: #d4e7f5;

  & .order__header{
    background-color: #fff;
  }

  .container--bottomfix{
    background-color: #ebf2fc;
  }
}
.contacts-info{
  float: left;
  position: relative;
  height: 40px;
  width: 70%;
  box-shadow: 0 5px 5px 0 #93a0aa;
  border-radius: 20px;
  margin-bottom: 20px;
  
  &__name, &__company{
    margin: 12px 0;
    position: relative;
    height: 40px;
  }

  &__input{
    position: absolute;
    border: 2px solid @c-form-border;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    width: 53%;
    padding: 8px 15px;
    border-radius: 20px;
    
    transition: all 0.3s ease;

    &:focus{
      border-color: @c-yellow;
    }
    &.filled{
      border-color: @c-yellow;
    }

    &:first-child{
      left: 0;
    }
    &:nth-child(2){
      left: 47%;
    }
  }
}
.confirmation{
  float: left;
  width: 600px;
  clear: both;

  &:after{
    clear: both;
    content: '';
    display: block;
  }

  &__info {
    width: 100%;
    color: #ffffff;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: 100;
    background-color: #444444;
    padding: 3px 0;
    padding-left: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__delivery {
    width: 400px;
    float: left;
  }
  &__text{
    position: relative;
    display: block;
    background-color: #ffffcc;
    padding: 3px 0;
    padding-left: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #aaaaaa;
      transition: all 0.3s ease;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked + &__text {
    background-color: #ffff66;

    &:before{
      border: 2px solid #fff;
      background-color: #222222;
    }

  }

  &__price{
    width: 200px;
    float: left;
    background-color: #fff;

    & p{
      font-size: 32px;
      text-align: center;
      margin: 15px 0;
      letter-spacing: 2px;
    }
  }
  &__summ{
    color: @c-pink;
    font-weight: bold;

  }
}


.form-send{
  position: relative;
  float: right;

  &:after{
    content: '';
    position: absolute;
    .sprite(@icon-fly);
    top: 0;
    left: -40px;
    z-index: 1;
  }
}
.btn-send{
  position: relative;
  border: none;
  background-color: #ffe900;
  color: #0044cc;
  width: 187px;
  text-align: center;
  font-size: 24px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 17px 10px;
  border-radius: 10px;
  z-index: 2;
}
.container{

  &--bottomfix{
    padding: 30px;
  }
}
.feedback-message{
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  letter-spacing: 2px;
  margin: 5px 0;

  &--small{
    font-size: 14px;
    text-transform: lowercase;
  }
}