.order-contacts {
  position: relative;
  min-height: 100px;
  margin-bottom: 70px;

  .contacts-info {
    top: 0;
    width: 58.4%;
  }

  .contacts-info__input:first-child {
    width: 53%;
  }

  .form-send {
    top: 0;
    right: 0;
    padding: 0;
    width: 21%;
  }

  .btn-send {
    padding: 7px 15px;
  }

  &__note {
    margin: 0 auto;
    padding-top: 60px;
    width: 70%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 4px;
    color: #bcbcbc;
  }
}
