.product-types {
  padding: 0 5px;
  font-size: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 32px 87px rgba(193,193,193,.2);
}

.product-type {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 16.333%;
  cursor: pointer;
  z-index: 3;

  &__inner {
    position: relative;
    display: block;
    text-decoration: none;
    padding-top: 20px;
    border-bottom: none;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -3.5%;
      right: -3.5%;
      height: 100%;
      background-image: url("../img/bg-active-product.png");
      background-repeat: repeat-x;
      background-size: 1px 84px;
      background-position: bottom left;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

  }

  &__name {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 37px;
    color: #ddd;
    letter-spacing: 2.5px;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 165px;

    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 100%;
    }
  }

  &__order-block {
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 45px;
    padding: 0 5px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      bottom: -10px;
      left: -5px;
      right: -5px;
      background-color: #fffab1;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.chosen,
    &:hover {

      &:before {
        content: "";
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -5px;
        right: -5px;
        background-color: #fffab1;
        opacity: 1;
      }

      .product-type__title {
        background-color: rgba(255, 255, 255, 0);
      }

      .product-type__price {
        background-color: #ffeba0;

        &--old {
          background-color: rgba(255, 255, 255, 0);
        }
      }
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    line-height: 35px;
    color: #434343;
    background-color: #ededed;
    letter-spacing: 2px;
    z-index: 2;
  }

  &__price-block {
    position: relative;
    right: -3px;
    font-size: 0;
    letter-spacing: 0;
  }

  &__price {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    padding-right: 4px;
    width: 53%;
    font-family: "Proxima Nova Condensed", Arial, sans-serif;
    text-align: right;
    font-weight: 900;
    font-size: 16px;
    line-height: 34px;
    color: #000;
    white-space: nowrap;
    letter-spacing: 1.5px;

    &--old {
      position: relative;
      padding: 0;
      width: 47%;
      text-align: left;
      color: #bebebe;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #f0f0f0;
      }
    }
  }

  &.active,
  &:hover {

    .product-type__inner {

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -3.5%;
        right: -3.5%;
        height: 100%;
        background-image: url("../img/bg-active-product.png");
        background-repeat: repeat-x;
        background-size: 1px 84px;
        background-position: bottom left;
        opacity: 1;
      }
    }

    .product-type__title {
      background-color: rgba(255, 255, 255, 0);
    }

    .product-type__price {
      background-color: #ffeba0;

      &--old {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}
