.promo {
  min-height: 521px;
  background-image: url(../img/promo_background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding-top: 150px;
  
  &__accent{
    .proxima(lighter);
    font-size: 36px;
    color: #fffe00;
    margin-bottom: 24px;
    text-transform: uppercase; 
    letter-spacing: 4px;      
  }

  &__head {
    font-size: 65px;
    line-height: 71px;
    font-weight: lighter;
    color: #fff;
    margin-top: 0;
    margin-bottom: 40px;
  }

}

.sloganbox {
  background-color: @c-yellow;
  text-align: center;
  padding: 16px 0 19px 0;

  &__text{
    font-weight: lighter;
    font-size: 31px;
    line-height: 57px;
    letter-spacing: 13px;
    color: @c-grey;
  }
}

.warranty{
  background-color: #fff;

  &__text {
    display: block;
    color: @c-brown;
    font-size: 30px;
    letter-spacing: 8px;
    padding: 17px 0;
  }

}

.decision{
  display: none;
  color: @c-yellow;

  &__text, &__phone{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 48px;
    text-transform: uppercase;
    
  }

  &__text{
    margin-bottom: 0;

    &--small{
      font-size: 36px;
      font-family: "Proxima Nova", Arial, sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
    }
  }
  &__phone{
    text-decoration: none;
    color: @c-yellow;
  }

  &__social{
    font-size: 36px;
    color: @c-yellow;

    &:before{
      font-weight: bold;
      content: '(';
      display: inline-block;
    }
    &:after{
      font-weight: bold;
      content: ')';
      display: inline-block;
    }
  }
  
  &__sociallink{
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    color: @c-yellow;

    &:after{
      content: "\005C";
    }
  }

  &__button {
    width: 280px;
    height: 80px;
    .proxima-cond(bolder);
    font-size: 30px;
    letter-spacing: 5px;
    color: #2654c3;
    background-color: @c-yellow;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #587ac4;
    outline: none;
  }
}

.seo {
  color: #795548; 
   
  &__header {
    .proxima-cond(bolder);
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  &__text {
    .proxima-cond(bold);
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #795548;
    max-width: 768px;
  }

}

