.promo{
  background-image: url(../img/promo_background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 220px;

  &__head{
    // width: 400px;
    font-size: 65px;
    font-weight: lighter;
    color: #fff;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &__accent{
    font-weight: lighter;
    // color: @c-blue;
  }

  &__sloganbox{
    background-color: @c-yellow;
    text-align: center;
    padding: 10px 0;
  }
  &__slogan{
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 10px;
    color: @c-grey;
  }

  & .warranty{
    display: block;
    color: @c-brown;
    font-size: 30px;
    letter-spacing: 8px;
    padding: 12px 0;
    // display: none;
  }
}
