@media screen and (min-width: @laptop-min) {
  .container{
    width: 800px;
    // width: @container-laptop;
    padding-left: 0;
    padding-right: 0;
  }
  @import url(header.less);
  @import url(promo.less);
  @import url(steps.less);
  @import url(order.less);

}

@media screen and (max-width: @phone-max) {
  .container{
    max-width: 480px;
    min-width: @phone-min;
  }
  @import url(header_mobile.less);
  @import url(promo_mobile.less);
  @import url(steps_mobile.less);
  @import url(order_mobile.less);
}