.steps{
  padding-left: 0;
  .range;

  &__item{
    .col-4;
    list-style: none;
    margin-bottom: 34px;

    &:last-child .steps__number:after{
      position: static;
      display: none;
    }

    &:not(:first-child) {
      .col-offset-1;
    }
  }

  &__hashtag{
    .proxima(lighter);
    font-size: 26px;
    letter-spacing: 5px;
    color: @c-lightblue;
  }

  &__number{
    display: block;
    margin-top: 11px;
    padding-left: 60px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 59px;
    font-weight: bold;
    color: #fff;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      .sprite(@step-arrow);
      top: 25px;
      left: 170px;
    }

  }

  &__text{
    .proxima(lighter);
    margin-top: 14px;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}



