.steps{
  padding-left: 0;

  &__item{
    list-style: none;
    margin-bottom: 22px;
  }

  &__hashtag{
    .proxima(lighter);
    font-size: 20px;
    letter-spacing: 5px;
    color: @c-lightblue;
  }

  &__number{
    display: none;
  }

  &__text{
    margin-top: 8px;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}