// закомментировать если не юзать бутстрап
@container-laptop-wide: 1366px;
@container-laptop: 800px;
@container-tablet: 640px;
// @container-phone: 480px;

@laptop-wide-min: @container-laptop-wide;

@laptop-min: @container-laptop;
@laptop-max: (@container-laptop-wide - 1);

@tablet-min: @container-tablet;
@tablet-max: (@container-laptop-wide - 1);

// @phone-min: @container-phone;
// @phone-max: (@container-tablet - 1);


@indent-col: 30px;      // растояние между колонками сетки. 
                        // Левый и правый паддинги каждой колонки и отрицательные левый 
                        // и правый маргин для row высчитываются автоматически

// закомментировать выше если не юзать бутстрап




//
@c-yellow: #ffe600;
@c-grey: #444444;
@c-light-grey: #e0e0e0;
@c-order-head: #bbbbbb;
@c-form-border: #dddddd;
@c-lightblue:  #2979ff;
@c-blue: #0044cc;
@c-brown: #795548;
@c-pink: #ff4749;
@c-green: #23A86D;
@c-green-lighter: #23A86D;



@text-size: 16px;